
#jumbotron {
    padding-top:  10px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 5px;
    background-color: beige
}
#tittle {
    background-color: rgb(209, 140, 36);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}

#heading {
    font-size:20px;
}